<div *ngIf="total > 0">
    <!-- <input type="text" (keydown)="onKeyboard($event)" /> -->
    <div class="columns">
      <nav class="panel is-three-quarter column">
        <p class="panel-heading">
          Purchase Detail
        </p>
        <div *ngFor="let item of shoppingCart">
          <div class="panel-block">
            {{ item.title }}
            <span class="item-price">
              {{ item.price | currency }}
            </span>
          </div>
        </div>
      </nav>
    </div>
    <div class="columns">
      <div class="column is-fullwidth">
        <div class="is-pulled-right">
          <div class="is is-one-quarter ">
            <h2 class="title">Total {{ total | currency }}</h2>
          </div>
          <button class="button is-link  is-pulled-right is-danger"
           (click)="makePayment()">
            BUY NOW
          </button>
        </div>
      </div>
    </div>
</div>