<div class="modal" [ngClass]="{'is-active': active}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Confirmation</p>
            <button class="delete" aria-label="close" (click)="hideShow()"></button>
        </header>
        <section class="modal-card-body">Payment Done {{total | currency}}</section>
        <footer class="modal-card-foot">
            <button class="button is-success" (click)="hideShow()">OK</button>
        </footer>
    </div>
</div>
