<div class="container">
    <section class="section">
        <h1 class="title">PRODUCTS</h1>
        <div class="columns">
            <div class="column" *ngFor="let item of storeModel">
                <app-without-status 
                  [Product]="item"
                  (selectProduct)="onSelectProduct($event)"
                  (unSelectProduct)="onUnSelectProduct($event)">
                </app-without-status>
            </div>
        </div>
    </section>
    <section>
        
    </section>
</div>
<app-shopping-cart-status
  [total]="getTotalPrice()"
  [shoppingCart]="purchasedItems"
  (pay)="makePayment()"
  ></app-shopping-cart-status>
<app-confirmation-alert [total]="getTotalPrice()"></app-confirmation-alert>